<%- include('../partials/_header'); %>

<h1 class="nombre-form">Crear Usuario</h1>
<div class="container-form">
    <form class="formulario" action="/api/usuarios/create" method="POST">
        <fieldset>
            <div class="container-label">
                <label for="nombreUsuario">Nombre Usuario:</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" required>
            </div>
            <% if (error && error.nombreUsuario) { %>
                <div class="error"><%= error.nombreUsuario %></div>
            <% } %>

            <div class="container-label">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <% if (error && error.email) { %>
                <div class="error"><%= error.email %></div>
            <% } %>

            <div class="container-label">
                <label for="contrase単a">Contrase単a:</label>
                <input type="password" id="contrase単a" name="contrase単a" required>
            </div>

        </fieldset>
        <button type="submit">Crear Usuario</button>
    </form>
</div>

<!-- <% if(typeof alert !== 'undefined') { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=> {
            window.location='/<%=  %>'
        })
    </script>
<% } %> -->

<%- include('../partials/_footer'); %>
