<%- include('../partials/_header'); %>

<h1>Crear Perfil</h1>
    <form action="/perfiles/create" method="POST">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
       
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
    

        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required>
    

        <label for="valoracionPromedio">Valoración Promedio:</label>
        <input type="number" step="0.1" id="valoracionPromedio" name="valoracionPromedio" required>
  
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required>
        
        <label for="localidadId">Localidad:</label>
        <select id="localidadId" name="localidadId">
            <% localidades.forEach(localidad => { %>
                <option value="<%= localidad.idLocalidad %>"><%= localidad.nombre %></option>
            <% }) %>
        </select>
   
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
     

        <!-- Campo oculto para el ID del usuario -->
        <input type="hidden" name="usuarioId" value="<%= usuarioId %>"> <!-- Aquí se pasa el ID del usuario -->

        <button type="submit">Crear Perfil</button>
    </form>

<%- include('../partials/_footer'); %>
