<%- include('../partials/_header'); %>

<main>
    
    <div class="container-perfil">

        <img src="/img/jardinero.avif">
        <h1 class="nombre-perfil"><%= perfil.nombre %> <%= perfil.apellido %></h1>
        <p>Oficio: <%= perfil.nombreOficio %></p>
        <p>Valoración: <%= perfil.valoracionPromedio %></p>
        <a href="#" class="boton-contactar">
            Contactar
        </a>
       
    </div>

    <% if(login && (usuarioIdLog == usuarioId )) { %>
      <a href="/perfiles/update/<%= usuarioIdLog %>" class="update"> Actualizar perfil </a>
    <% } %>

    <div class="container-general">
        <div class="container-rd">
            <div class="container-datos">
                <p>Teléfono: <%= perfil.telefono %></p>
                <p class="desc">Descripción:</p>
                <p class="descripcion"><%= perfil.descripcion %></p>
            </div>
            <div class="container-reseñas-perfil">

                <% perfilReseña.forEach(perfil => { %>
                    <div class="contenido-reseña">
                        <p><%= perfil.nombre %></p>
                    </div>
                <% }) %>
                <% reseñas.forEach(reseña => { %>
                    <div class="contenido-reseña">
                        <p>
                            <% const fechaFormateada = new Date(reseña.fecha).toLocaleDateString('es-ES', { day: 'numeric', month: 'long', year: 'numeric' }); %>
                            <%= fechaFormateada %>
                        </p>
                        <p><%= reseña.valoracion %></p>
                        <p><%= reseña.descripcion %></p>
                    </div>
                <% }) %>


                <% if(login && (usuarioIdLog != usuarioId )) { %>
                    <a href="/valoracion/<%= perfil.idPerfil %>" class="boton-reseña">
                        Hacer una reseña
                    </a>
                <% } %>
            </div>
        </div>

        <div class="container-post">  
            <% postPerfil.forEach(post => { %>
            <div class="contenido-post">
                <img src="/uploads/<%= post.foto %>" alt="Foto del post">
                <p>Descripción: <%= post.despcripcion %></p>
            </div><!--post-->
            <% }) %>
        </div><!--contenedor-post-->
    </div>

</main>

