<%- include('../partials/_header'); %>
<main>
    
    <div class="container-perfil">

        <img src="<%= perfil.foto && perfil.foto.startsWith('foto') ? '/uploads/' + perfil.foto : perfil.foto ? '/' + perfil.foto : '/img/default-profile.png' %>" alt="Foto de perfil">

        <h1 class="nombre-perfil"><%= perfil.nombre %> <%= perfil.apellido %></h1>
        
        <% perfil.nombreOficios.forEach(nombreOficio => { %>
            <p><%= nombreOficio %></p>
        <% }) %>
        
        <% if (promedio > 0) { %>
            <div class="star-rating">
                <% for (let i = 0; i < 5; i++) { %>
                    <% if (i < Math.floor(promedio)) { %>
                        <span class="fa fa-star checked"></span>
                    <% } else if (i < promedio) { %>
                        <span class="fa fa-star-half-o checked"></span>
                    <% } else { %>
                        <span class="fa fa-star"></span>
                    <% } %>
                <% } %>
            </div>
        <% } %>

        <a href="#" class="boton-contactar">
            Contactar
        </a>
       
    </div>

    <% if(login && (usuarioIdLog == usuarioId )) { %>
      <a href="/perfiles/update/<%= usuarioIdLog %>" class="update"> Actualizar perfil </a>
    <% } %>

    <div class="container-general">
        <div class="container-rd">
            <div class="container-datos">
                <p><%= perfil.nombreProvincia %>, <%= perfil.nombreLocalidad %></p>
                <p class="borde">Teléfono: <%= perfil.telefono %></p>
                <p>Descripción:</p>
                <p class="descripcion"><%= perfil.descripcion %></p>
            </div>
            <div class="container-reseñas-perfil">

                <% reseñas.forEach(reseña => { %>
                    <div class="contenido-reseña">
                        <% const perfil = perfilReseña.find(p => p.idPerfil === reseña.Perfil_idPerfil); %>
                        <p><%= perfil ? perfil.nombre : 'Nombre no disponible' %></p>
                        <p>
                            <% const fechaFormateada = new Date(reseña.fecha).toLocaleDateString('es-ES', { day: 'numeric', month: 'long', year: 'numeric' }); %>
                            <%= fechaFormateada %>
                        </p>
                        <p><%= reseña.valoracion %></p>

                        <% if (reseña.valoracion > 0) { %>
                            <div class="star-rating">
                                <% for (let i = 0; i < 5; i++) { %>
                                    <% if (i < reseña.valoracion) { %>
                                        <span class="fa fa-star checked"></span> <!-- Estrella llena -->
                                    <% } else { %>
                                        <span class="fa fa-star"></span> <!-- Estrella vacía -->
                                    <% } %>
                                <% } %>
                            </div>
                        <% } %>

                        <p><%= reseña.descripcion %></p>
                    </div>
                <% }) %>


                <% if(login && (usuarioIdLog != usuarioId )) { %>
                    <a href="/valoracion/<%= perfil.idPerfil %>" class="boton-reseña">
                        Hacer una reseña
                    </a>
                <% } %>
            </div>
        </div>

        <div class="container-post-perfil">  
            <% postPerfil.forEach(post => { %>
            <div class="contenido-post">
                <!-- <img src="/uploads/<%= post.foto %>" alt="Foto del post"> -->
                <img src="/uploads/<%= post.foto[0] %>" alt="Foto del post" />
                <p>Descripción: <%= post.despcripcion %></p>

                <% if (login && (usuarioIdLog == usuarioId)) { %>
                    <form action="/posts/delete/<%= post.idPost %>?_method=DELETE" method="POST">
                        <!-- OPCION PARA Q SEA BUTTON -->
                        <!-- <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este post?');">Eliminar Post</button> -->

                        <!-- OPCION PARA Q SEA UNA IMAGEN (puse una foto cualquiera, cambiala si hace falta) -->
                        <img class="botonDelete" src="/img/eliminar.png" alt="Eliminar Post" style="cursor: pointer;" onclick="return confirm('¿Estás seguro de que deseas eliminar este post?');">
                    </form>
                <% } %>

            </div><!--post-->
            <% }) %>
        </div><!--contenedor-post-->
    </div>

</main>

<%- include('../partials/_footer'); %>