<h1>Perfil de <%= perfil.nombre %> <%= perfil.apellido %></h1>
<p>Email: <%= perfil.Localidad_idLocalidad %></p>
<p>Teléfono: <%= perfil.telefono %></p>
<p>Valoración: <%= perfil.valoracionPromedio %></p>
<p>Descripción: <%= perfil.descripcion %></p>