<%- include('../partials/_header'); %>

<main>
    
    <div class="container-perfil">

        <img src="/img/jardinero.avif">
        <h1 class="nombre-perfil"><%= perfil.nombre %> <%= perfil.apellido %></h1>
        <p>Oficio: <%= perfil.nombreOficio %></p>
        <p>Valoración: <%= perfil.valoracionPromedio %></p>
        <a href="#" class="boton-contactar">
            Contactar
        </a>
       
    </div>

    <% if(login && (usuarioIdLog == usuarioId )) { %>
      <a href="/perfiles/update/<%= usuarioIdLog %>" class="update"> Actualizar perfil </a>
    <% } %>
    <div class="container-general">
        <div class="container-rd">
            <div class="container-datos">
                <p>Teléfono: <%= perfil.telefono %></p>
                <p class="desc">Descripción:</p>
                <p class="descripcion"><%= perfil.descripcion %></p>
            </div>
            <div class="container-reseñas-perfil">
               <!--<div>
                    aca quiero agregar el forEach de cada reseña
                </div>--> 
                <p class="reseña-nombre">Reseñas de <%= perfil.nombre %> <%= perfil.apellido %></p>
                <p class="reseñas"><%= perfil.nombre %> <%= perfil.apellido %></p>


                <% if(login && (usuarioIdLog != usuarioId )) { %>
                    <a href="/valoracion/<%= perfil.idPerfil %>" class="boton-reseña">
                        Hacer una reseña
                    </a>
                <% } %>
            </div>
        </div>
        <div class="container-post">  
            <% postPerfil.forEach(post => { %>
            <div class="contenido-post">
                <img src="/uploads/<%= post.foto %>" alt="Foto del post">
                <p>Descripción: <%= post.despcripcion %></p>
            </div><!--post-->
            <% }) %>
        </div><!--contenedor-post-->
    </div>

</main>

