<%- include('../partials/_header'); %>
<main>
    
    <div class="container-perfil">

        <img src="<%= perfil.foto && perfil.foto.startsWith('foto') ? '/uploads/' + perfil.foto : perfil.foto ? '/' + perfil.foto : '/img/default-profile.png' %>" alt="Foto de perfil">

        <h1 class="nombre-perfil"><%= perfil.nombre %> <%= perfil.apellido %></h1>
        <p>Oficio: <%= perfil.nombreOficio %></p>
        <p>Valoración: <%= promedio.toFixed(2) %></p>
        <a href="#" class="boton-contactar">
            Contactar
        </a>
       
    </div>

    <% if(login && (usuarioIdLog == usuarioId )) { %>
      <a href="/perfiles/update/<%= usuarioIdLog %>" class="update"> Actualizar perfil </a>
    <% } %>

    <div class="container-general">
        <div class="container-rd">
            <div class="container-datos">
                <p><%= perfil.nombreProvincia %>, <%= perfil.nombreLocalidad %></p>
                <p class="borde">Teléfono: <%= perfil.telefono %></p>
                <p>Descripción:</p>
                <p class="descripcion"><%= perfil.descripcion %></p>
            </div>
            <div class="container-reseñas-perfil">

                <% reseñas.forEach(reseña => { %>
                    <div class="contenido-reseña">
                        <% const perfil = perfilReseña.find(p => p.idPerfil === reseña.Perfil_idPerfil); %>
                        <p><%= perfil ? perfil.nombre : 'Nombre no disponible' %></p>
                        <p>
                            <% const fechaFormateada = new Date(reseña.fecha).toLocaleDateString('es-ES', { day: 'numeric', month: 'long', year: 'numeric' }); %>
                            <%= fechaFormateada %>
                        </p>
                        <p><%= reseña.valoracion %></p>
                        <p><%= reseña.descripcion %></p>
                    </div>
                <% }) %>


                <% if(login && (usuarioIdLog != usuarioId )) { %>
                    <a href="/valoracion/<%= perfil.idPerfil %>" class="boton-reseña">
                        Hacer una reseña
                    </a>
                <% } %>
            </div>
        </div>

        <div class="container-post">  
            <% postPerfil.forEach(post => { %>
            <div class="contenido-post">
                <!-- <img src="/uploads/<%= post.foto %>" alt="Foto del post"> -->
                <img src="/uploads/<%= post.foto[0] %>" alt="Foto del post" />
                <p>Descripción: <%= post.despcripcion %></p>
            </div><!--post-->
            <% }) %>
        </div><!--contenedor-post-->
    </div>

</main>

