<%- include('../partials/_header'); %>

<select id="oficioId" name="oficioId" onchange="location = '/posts/f/' + this.options[this.selectedIndex].text;">
    <option disabled>Selecciona un oficio</option>
    <% oficios.forEach(oficio => { %>
        <!-- compara idOficio actual con idOficio q se selecciono antes, si es igual queda como selected -->
        <option value="<%= oficio.idOficio %>" <%= oficio.idOficio === oficioSeleccionado?.idOficio ? 'selected' : '' %>><%= oficio.nombre %></option>
    <% }) %>
</select>
<br>

<h1>Posts del oficio: <%= nombreOficio %></h1>

<div class="contenedor-posts">  
    <% posts.forEach(post => { %>
    <div class="post">
        <div class="contenido-post">
            <!--<p>VER PERFIL <%= post.Usuario_idUsuario %></p>-->
            <img src="/uploads/<%= post.foto %>" alt="Foto del post">
            <p>Descripcion: <%= post.despcripcion %></p>
            <p>Valoracion: <%= post.valoracion %></p>

            <a href="" class="boton-amarillo-block">
                Ver Post
            </a>
            <p><a href="/perfiles/<%= post.Usuario_idUsuario %>" class="boton-amarillo-block">
                Ver Perfil
            </a>
            </p>
            
        </div><!--contenido-anuncio-->
    </div><!--anuncio-->
    <% }) %>
</div>


<%- include('../partials/_footer'); %>
