<%- include('../partials/_header'); %>
<main>
    <h1 class="nombre-filtro">Posts del oficio: <%= nombreOficio %></h1>

    <div class="container-filtro-posts">  
        <% posts.forEach(post => { %>
        <div class="post-filtro">
            
            <div class="nombre-perfil-post">
                <a href="/perfiles/<%= post.Usuario_idUsuario %>" class="nombre-post">
                    <%= post.nombrePerfil %> <%= post.apellidoPerfil %>
                </a>
                <p class="localidad-post">
                    <%= post.nombreProvincia %>, <%= post.nombreLocalidad %>
                </p>
            </div>    
            <a href="/posts/<%= post.idPost%>" class="link-post">        
                <div class="datos-post"> 
                    <div class="container-foto-post">
                        <img src="/uploads/<%= post.foto[0] %>" alt="Foto del post" />
                    </div>
                    <div class="container-datos-post">
                        <p><%= post.despcripcion %></p>
                    </div>
                        
                </div><!--contenido-anuncio-->
            </a>
            
        </div><!--anuncio-->
        <% }) %>
    </div>
   
</main>
<%- include('../partials/_footer'); %>
