<%- include('../partials/_header'); %>
<main>
   
    <div class="container-post-detalle">
        <div class="info-perfil">
            <img src="<%= post.fotoPerfil && post.fotoPerfil.startsWith('foto') ? '/uploads/' + post.fotoPerfil : post.fotoPerfil ? '/' + post.fotoPerfil : '/img/default-profile.png' %>" alt="Foto de perfil">
            <a href="/perfiles/<%= post.Usuario_idUsuario %>"><h1><%= post.nombrePerfil %> <%= post.apellidoPerfil %></h1></a>

        </div>
        <% if (post.foto.length > 1) { %>
            <!-- Contenedor de galería con flechas de navegación -->
            <div class="gallery">
                <button class="gallery-button prev" onclick="changeImage(-1)">&#10094;</button>
                <% post.foto.forEach((foto, index) => { %>
                    <img src="/uploads/<%= foto %>" alt="Foto del post" class="gallery-image"  style="display: <%= index === 0 ? 'block' : 'none' %>" data-index="<%= index %>">
                <% }) %>

                <button class="gallery-button next" onclick="changeImage(1)">&#10095;</button>
            </div>
        <% } else { %>
            <!-- Muestra una sola imagen si no hay más de una -->
            <img src="/uploads/<%= post.foto[0] %>" alt="Foto del post" />
        <% } %>


        <div class="detalle-post">
            <div class="parte-principal">
                <p><%= post.despcripcion %></p>
                <p>Oficio: <%= post.nombreOficio %></p>
                <p>Publicado el <%= new Date(post.fecha).toLocaleDateString() %></p>
            </div>
            <div class="parte-secundaria">

            </div>
        </div><!-- detalle-post -->
    </div><!-- container-post-detail -->
 
</main>
<script>
    let currentIndex = 0;
    const images = document.querySelectorAll('.gallery-image');

    function changeImage(direction) {
        images[currentIndex].style.display = 'none';
        currentIndex = (currentIndex + direction + images.length) % images.length;
        images[currentIndex].style.display = 'block';
    }
</script>
<%- include('../partials/_footer'); %>
