<%- include('partials/_header.ejs'); %>
<main>
    <div class="inicio">
        <h1>La calidad del servicio, valorada por clientes como vos.</h1>
    </div>

    <div class="container-ccv">
        <div>
            <img src="/img/chatea.png">
            <h3>Chatea</h3>
            <p>Conversa en tiempo real con profesionales, resuelve tus dudas y recibe asesoramiento personalizado.</p>
        </div>
        <div>
            <img src="/img/contrata.png">
            <h3>Contrata</h3>
            <p>Elige al experto que necesitas, acuerda los detalles y asegura el mejor servicio sin complicaciones.</p>
        </div>
        <div>
            <img src="/img/valora.png">
            <h3>Valora</h3>
            <p>Comparte tu experiencia y ayuda a otros usuarios a encontrar los mejores profesionales.</p>
        </div>
    </div>
    <div class="container-filtro-posts">  
        <% posts.forEach(post => { %>
        <div class="post-filtro">
            
            <div class="nombre-perfil-post">
                <a href="/perfiles/<%= post.Usuario_idUsuario %>" class="nombre-post">
                    <%= post.nombrePerfil %> <%= post.apellidoPerfil %>
                </a>
                <p class="localidad-post">
                    <%= post.nombreProvincia %>, <%= post.nombreLocalidad %>
                </p>
            </div>    
            <a href="/posts/<%= post.idPost%>" class="link-post">        
                <div class="datos-post"> 
                    <div class="container-foto-post">
                        <img src="/uploads/<%= post.foto[0] %>" alt="Foto del post" />
                    </div>
                        <!--<p>VER PERFIL <%= post.Usuario_idUsuario %></p>-->
                        
                    <div class="container-datos-post">
                        <p><%= post.despcripcion %></p>

                   
                    </div>
                        
                </div>
            </a>
            
        </div>
        <% }) %>
    </div>
   
</main>
<%- include('partials/_footer'); %>