<%- include('partials/_header'); %>

<div class="contenedor-posts">  
    <% posts.forEach(post => { %>
    <div class="post">

        <img src="/uploads/<%= post.foto %>" alt="Foto del post">

        <div class="contenido-post">
            <p>Descripcion: <%= post.despcripcion %></p>
            <p>Valoracion: <%= post.valoracion %></p>


            <!-- <a href="" class="boton-amarillo-block">
                Ver Post
            </a> -->
            <a href="/perfiles/<%= post.Usuario_idUsuario %>" class="boton-amarillo-block">Ver Perfil</a>
            
        </div><!--contenido-post-->
    </div><!--post-->
    <% }) %>
</div><!--contenedor-post-->

<%- include('partials/_footer'); %>